* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
}

body {
  margin: 0 auto;
  --text-color: black;
  --background-color: white;
  --bold-warm-color: coral;
  --bold-cool-color: cadetblue;
  --soft-warm-color: bisque;
  --soft-cool-color: aliceblue;
  background-color: var(--background-color);
  color: var(--text-color);
}

::selection {
  background-color: var(--bold-warm-color);
  color: var(--soft-cool-color);
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

h2 {
  position: relative;
  right: 1rem;
}

.profession::after {
  content: "💃";
}
.div {
  font-size: 4rem;
}

h1 {
  font-size: 1em;
  padding-top: 2rem;
}

.profession {
  font-size: 0.25em;
}

.header,
.main,
.footer {
  padding: 1.5rem;
  max-width: 50rem auto;
}

.header {
  text-align: center;
  background-image: linear-gradient(
    var(--soft-warm-color),
    var(--soft-cool-color) 35%,
    transparent
  );
  position: relative;
  transition: 0.7s;
}

.header:hover {
  .hire-me {
    transform: scale(1.1);
  }
}

.header:focus-within .hire-me {
  transform: scale(1.1);
}

.nav {
  display: flex;
  flex-direction: column;
}

.main .footer {
  max-width: 65ch;
  position: relative;
}

.footer {
  background-image: linear-gradient(
    transparent,
    var(--soft-cool-color) 25%,
    var(--soft-warm-color)
  );
}

.article {
  margin-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.a {
  margin: 0.6rem;
  transition: background-color 0.5s;
}

.a:link {
  color: var(--bold-warm-color);
}

.a:visited {
  color: var(--bold-cool-color);
}

.a:hover {
  background-color: var(--soft-warm-color);
}

.a:active {
  background-color: var(--soft-cool-color);
}

.a:focus {
  background-color: var(--bold-cool-color);
  outline: none;
}

.line {
  border-top: 3px solid;
  border-color: var(--bold-warm-color);
}

.experiences {
  display: inline-block;
}

.hire-me {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--bold-warm-color);
}

@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }
  .article {
    margin: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .experience-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }
  .hire-me {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.6rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
  }
  .article {
    margin: 1.6rem;
  }
}

@media print {
  .nav,
  .hire-me {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --background-color: black;
    --text-color: white;
  }
  .header {
    background-image: linear-gradient(var(--bold-cool-color), transparent);
  }
  .footer {
    background-image: linear-gradient(transparent, var(--bold-cool-color));
  }
  .a:link {
    color: var(--bold-warm-color);
  }

  .a:visited {
    color: var(--soft-cool-color);
  }

  .a:hover {
    background-color: var(--soft-warm-color);
  }

  .a:active {
    background-color: var(--bold-cool-color);
  }
}
