* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
}

body {
  margin: 0 auto;
}

::selection {
  background-color: coral;
  color: aliceblue;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

h2 {
  position: relative;
  right: 1rem;
}

.profession::after {
  content: "💃";
}
.div {
  font-size: 4rem;
}

h1 {
  font-size: 1em;
  padding-top: 2rem;
}

.profession {
  font-size: 0.25em;
}

.header,
.main,
.footer {
  padding: 1.5rem;
  max-width: 50rem auto;
}

.header {
  text-align: center;
  background-color: aliceblue;
  position: relative;
}

.main {
  max-width: 65ch;
  position: relative;
}

.article {
  margin-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.a {
  margin: 0.6rem;
}

.a:link {
  color: coral;
}

.a:visited {
  color: cadetblue;
}

.a:hover {
  background-color: bisque;
}

.a:active {
  background-color: aliceblue;
}

.line {
  border-top: 3px solid;
  border-color: coral;
}

.experiences {
  display: inline-block;
}

.hire-me {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: coral;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }
  .article {
    margin: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }
  .hire-me {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.6rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
  }
  .article {
    margin: 1.6rem;
  }
}

@media print {
  .nav,
  .hire-me {
    display: none;
  }
}
